html,
body {
height: 100%;
}


.dark{
    color: darkgrey;
}
nav.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
}

a#icon-link:hover {
    text-decoration: none;
    color: rgb(69, 18, 18);
    text-shadow: black 5px 5px 5px;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    opacity: 100;
}

a#icon-link {
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
}
