html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ce7d32;
}

p {
    font-size: 20px;
    color: whitesmoke;
}

img#icon-link {
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

img#icon-link:hover {
    width: 150px;
    -webkit-filter: drop-shadow(15px 15px 15px #222);
    filter: drop-shadow(15px 15px 15px #222);
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}