html {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}


header {
    top: 200px;
    height: auto;
    padding: 2rem;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    gap: 20px;
    overflow-x: hidden;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.carousel-images {
    position: relative;
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    min-height: 500px;
    overflow: hidden;
}


.carousel-image.fade-out {
    opacity: 0;
}

.carousel-button {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}