.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.carousel-image {
    width: 100%;
    height: auto;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.carousel-image.fade-out {
    opacity: 0;
}

.carousel-button {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
